<h2>Chair</h2>
<div class="chair-type">
  <table>
    <tr>
      <th>ID</th>
      <th>STT</th>
      <th>Name</th>
      <th>Status</th>
      <th>Created By</th>
    </tr>
    <tr ng-repeat="chairType in listChairType">
      <td>{{ chairType.id }}</td>
      <td>{{$index + 1}}</td>
      <td>{{ chairType.name }}</td>
      <td>{{ chairType.status }}</td>
      <td>{{ chairType.createdBy }}</td>
    </tr>
  </table>
  <div>
    <label for="">name</label>
    <input type="text" ng-model="name" />
  </div>
  <!-- <div>
        <label for="">Tên</label>
        <input type="text" ng-model="ten" />
      </div> -->
  <button ng-click="addChairType()">Add</button>
</div>
